<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
    <script type="text/javascript" src="{% static 'app/js/spotify_auth.js' %}"></script>
</head>
<!-- <body onload="onPageLoad()"> -->
<body>
    <!-- <script>
        console.log("WATCH ME")
    </script> -->
    <div class="container">
        <form id="myForm" action="#">
            <!-- <div id="tokenSection" class="row">

                <div class="col">
                    <div class="mb-3"> -->
                    <label for="clientId" class="form-label">Client ID</label>
                    <input type="text" class="form-control" id="clientId" placeholder="">
                    <!-- </div>
                    <div class="mb-3"> -->
                    <label for="clientSecret" class="form-label">Client Secret</label>
                    <input type="text" class="form-control" id="clientSecret" placeholder="">
                    <!-- </div> -->
                    <input class="btn btn-primary btn-lg" type="submit"><br/>
                <!-- </div> -->
            <!-- <button id="btn-submit">Click ME</button> -->
            </div>
        </form>
    </div>

</body>
</html>